<section class="hero is-dark is-fullheight">

  <div class="hero-head">
    <h1 class="title">
      Feinmann Game
    </h1>
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      
      <app-game-area></app-game-area>

    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <div class="columns is-multiline is-mobile">
          
          <app-game-button color="warning"></app-game-button>
          <app-game-button color="primary"></app-game-button>
          <app-game-button color="link"></app-game-button>
          <app-game-button color="success"></app-game-button>

        </div>
        <div style="padding-top:5px;"></div>
      </div>
    </nav>
  </div>
</section>