<ng-container *ngIf="!this.gameStarted">
    <button class="button" (click)="onClickStart()">
        Start
    </button>
</ng-container>

<div [hidden]="!this.gameStarted">
    <div class="columns">
        <div class="column is-two-thirds">
            <figure class="image">
                <img [src]="this.faceSrc" style="height:40vh;width:auto;display:inline;"/>
            </figure>
        </div>
        <div class="column is-one-third">
            <ng-container *ngFor="let item of this.currentProgress">
                <div>
                    <figure class="image">
                        <img [src]="btnService.buttons[item].imgSrc"/>
                    </figure>
                </div>
            </ng-container>
        </div>
    </div>
</div>